.heading{
    font-size: 55px;
}
body{
    background-color: rgb(187, 255, 237);
}
#camera{
    border-width: 4px;
    border-color: black;
    block-size: 50px;
}
b{
    font-size:25px;
}
hr{
    color:black;
}